/********** Template CSS **********/

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** BG, Color & Fonts ***/
.font-open {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth"100;
}

.font-josefin {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.font-lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.bg-black {
    background: #06152B;
}

.bg-black * {
    color: var(--bs-white);
}


/*** Button ***/
.btn {
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    transition: .7s;
}

.btn.btn-light {
    color: var(--bs-dark);
    background: var(--bs-white);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .1);
}

.btn.btn-light:hover {
    background: var(--bs-white);
    box-shadow: inset 200px 50px 0 0 rgba(0, 0, 0, .1);
}

.btn.btn-dark,
.btn.btn-primary {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, .1);
}

.btn.btn-dark:hover,
.btn.btn-primary:hover {
    box-shadow: inset 200px 55px 0 0 rgba(255, 255, 255, .1);
}

.btn-square {
    width: 45px;
    height: 45px;
}

.btn-sm-square {
    width: 35px;
    height: 35px;
}

.btn-lg-square {
    width: 55px;
    height: 55px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Navbar ***/
.navbar {
    z-index: 999;
}

.navbar .navbar-brand img {
    max-height: 50px;
}

.navbar .navbar-nav .nav-link {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    padding: 10px 10px;
    font-size: 18px;
    color: var(--bs-dark);
    outline: none;
}

.navbar.navbar-dark .navbar-nav .nav-link {
    color: var(--bs-white);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand img {
        max-height: 45px;
    }

    .navbar .navbar-nav {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .navbar .nav-item .dropdown-menu {
        padding-left: 30px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/
.page-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.page-header::before {
    position: absolute;
    content: "";
    inset: 1.5rem;
    padding: 1.5rem;
    border-radius: 15px;
    background: rgba(9, 30, 62, .9);
    z-index: -1;
}


/*** Service ***/
.service-item img {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.2) rotate(5deg);
}

.service-item.bg-light,
.service-item.bg-light * {
    transition: .5s;
}

.service-item.bg-light:hover {
    background: var(--bs-primary) !important;
}

.service-item.bg-light:hover * {
    color: var(--bs-white) !important;
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.2);
}

.team-item .team-social {
    background: rgba(9, 30, 62, .7);
    transition: .5s;
    opacity: 0;
}

.team-item:hover .team-social {
    opacity: 1;
}


/*** Testimonial ***/
.testimonial .testimonial-img-sm {
    width: 60px;
    height: 60px;
}


/*** Blog ***/
.blog-item img {
    transition: .5s;
    object-fit: cover;
}

.blog-item:hover img {
    transform: scale(1.2);
}

.blog-item .blog-btn {
    background: rgba(9, 30, 62, .7);
    transition: .5s;
    opacity: 0;
}

.blog-item:hover .blog-btn {
    opacity: 1;
}


/*** Footer ***/
@media (min-width: 992px) {
    .footer::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background: rgba(255, 255, 255, .2);
    }

    .footer.bg-white::after {
        background: #dee2e6;
    }
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--bs-white);
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer.bg-white .btn.btn-link {
    color: var(--bs-secondary);
}

.footer .btn.btn-link:hover {
    color: var(--bs-primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--bs-primary);
    margin-right: 10px;
}

.footer .form-control {
    background: rgba(0, 0, 0, .3);
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.copyright a {
    color: var(--bs-white);
}

.copyright a:hover,
.copyright.bg-white a:hover {
    color: var(--bs-primary);
}

.copyright.bg-white {
    border-top: 1px solid #dee2e6;
}

.copyright.bg-white a {
    color: var(--bs-dark);
}